body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:224px;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:20px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:20px;
  width:500px;
  height:20px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:50px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:500px;
  height:50px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:20px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:500px;
  height:20px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:200px;
  height:50px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:110px;
  width:500px;
  height:50px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:19px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:19px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:160px;
  width:500px;
  height:19px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
