body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:224px;
}
#u1543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:20px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u1545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:200px;
  height:20px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:20px;
  width:500px;
  height:20px;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:50px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u1548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:500px;
  height:50px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:20px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:500px;
  height:20px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:200px;
  height:50px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:110px;
  width:500px;
  height:50px;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:200px;
  height:19px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:19px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:160px;
  width:500px;
  height:19px;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
