body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:604px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:25px;
  width:133px;
  height:31px;
  font-size:16px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:32px;
  width:24px;
  height:24px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:32px;
  width:24px;
  height:24px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:599px;
  overflow:hidden;
  touch-action:none;
}
#u480_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:599px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u480_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:295px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:525px;
  width:375px;
  height:1px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:434px;
  width:187px;
  height:18px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:467px;
  width:100px;
  height:16px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u486_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:467px;
  width:100px;
  height:16px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u487_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:499px;
  width:100px;
  height:16px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u488_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:499px;
  width:100px;
  height:16px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u489_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:375px;
  height:1px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:224px;
  width:187px;
  height:18px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:257px;
  width:100px;
  height:16px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u493_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:257px;
  width:100px;
  height:16px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u494_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:289px;
  width:100px;
  height:16px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u495_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:289px;
  width:100px;
  height:16px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u496_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:375px;
  height:1px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:329px;
  width:187px;
  height:18px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:362px;
  width:100px;
  height:16px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:362px;
  width:100px;
  height:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u501_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:394px;
  width:100px;
  height:16px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u502_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:394px;
  width:100px;
  height:16px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u503_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:375px;
  height:1px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:118px;
  width:187px;
  height:18px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:151px;
  width:100px;
  height:16px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u507_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:151px;
  width:100px;
  height:16px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u508_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:183px;
  width:100px;
  height:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u509_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:183px;
  width:100px;
  height:16px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u510_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:627px;
  width:375px;
  height:1px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:536px;
  width:187px;
  height:18px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:569px;
  width:100px;
  height:16px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u514_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:569px;
  width:100px;
  height:16px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u515_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:601px;
  width:100px;
  height:16px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u516_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:601px;
  width:100px;
  height:16px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u517_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:75px;
  width:159px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:653px;
  width:159px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:865px;
  width:375px;
  height:1px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:689px;
  width:129px;
  height:18px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:728px;
  width:309px;
  height:108px;
}
#u523_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:108px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1117px;
  width:375px;
  height:1px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:891px;
  width:129px;
  height:18px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:930px;
  width:309px;
  height:108px;
}
#u527_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:108px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1066px;
  width:367px;
  height:36px;
  color:#FFFFFF;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:363px;
  word-wrap:break-word;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:604px;
  overflow:hidden;
  visibility:hidden;
}
#u529_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u529_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:93px;
  width:300px;
  height:340px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:445px;
  width:28px;
  height:28px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:110px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:162px;
  width:203px;
  height:35px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:364px;
  width:194px;
  height:36px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
